@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo{
  padding: 15px 30px;
}

.banner{
  background-image: linear-gradient(to bottom right, rgba(96, 76, 76, .6), rgba(96, 76, 76, .6)) ,url('./static/bg-image.jpeg');
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.t3{
  padding: 10px 30px;
}
.t4{
  padding: 10px 20px;
}

.i1{
  padding: 50px 0;
}

.image:hover{
  transform: scale(1.1);
  transition: transform .4s ease-in-out;
}

.p3{
  padding: 10px 0;
}